.bottom-btn {
  color: #ffffff !important;
  background-color: #0d47a1 !important;
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}

.modal-body {
  height: 10vh;
  display: flex;
  align-items: center;
}

.add-list-btn {
  color: #ffffff !important;
  position: absolute;
  right: 2rem !important;
  background-color: #0d47a1 !important;
}
